//out: ../css/snake.css, compress: true, sourceMap: true

@snake: rgb(108, 142, 40);
@dead: rgb(147, 102, 63);
@fruit: rgb(157, 36, 36);
@bg: #f1f1f1;

*{
  margin:0;
  padding:0;
}
html{
  font-family: sans-serif;
}
#wrapper{
  display: flex;
  flex-wrap: wrap;
}
#score-wrapper{
  flex:1 1 auto;
  padding:1em;
  @media screen and (orientation: landscape){ order:2; }
}

#canvas-wrapper{
  flex:0 1 100vmin;
  position: relative;
  width:100%;
  &:after{
    content:"";
    display: block;
    padding-bottom: 100%;
  }
  #canvas{
    position: absolute;
    top:1em;
    right:1em;
    bottom:1em;
    left:1em;
    background-color:@bg;
  }
}

.snake-segment, .fruit{
  position: absolute;
  width:1em;
  height:1em;
}
.snake-segment{
  background-color: lighten(@snake, 10%);
  &.dead{ background-color: @dead; }
  &.snake-head{
    background-color: @snake;
    z-index:1000;
    &.dead{ background-color: lighten(@dead, 10%); }
  }
}
.fruit{
  background-color: @fruit;
}