//out: ../css/snake.css, compress: true, sourceMap: true

@snake: rgb(108, 142, 40);
@dead: rgb(147, 102, 63);
@fruit: rgb(157, 36, 36);
@bg: #f1f1f1;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

*{
  margin:0;
  padding:0;
}
html{
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 4em;
  margin: 0.25em 0;
  font-weight:100;
}

#wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#score-wrapper{
  flex:0 1 auto;
  @media screen and (orientation: landscape){ order:2; }
  padding:1em;
  line-height:1.4em;
  font-weight:300;
  div#header div{
    display: inline-block;
    margin: 0 0.5rem 0.5rem 0;
  }
  div#score div{
    display: inline-block;
    &.score{ font-weight: 500;}
  }
  @media screen and (orientation: landscape){
    div#header div{
      display: block;
    }
    div#score div{
      display: block;
      &.divider{ display: none;}
    }
  }
  #instructions{
    font-size:0.8rem;
  }
}

#canvas-wrapper{
  flex:0 1 100vmin;
  position: relative;
  width:100%;
  &:after{
    content:"";
    display: block;
    padding-bottom: 100%;
  }
  #canvas{
    position: absolute;
    top:1em;
    right:1em;
    bottom:1em;
    left:1em;
    background-color:@bg;
  }
}

.snake-segment, .fruit{
  position: absolute;
  width:1em;
  height:1em;
}
.snake-segment{
  background-color: lighten(@snake, 10%);
  &.snake-head{
    background-color: @snake;
    z-index:1000;
  }
}
#canvas.dead{
  .snake-segment{ background-color: @dead; }
  .snake-head{ background-color: lighten(@dead, 10%); }
}
.fruit{
  background-color: @fruit;
}

span[contenteditable], #go{
  font-weight:500;
  color:@snake;
}